:root {
  --black: #3d433c;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::selection {
  color: white;
  background: #fcba03;
  text-decoration-color: #fcba03;
}

/* first page */

.first-page {
  height: 100vh;

  color: var(--black);
}

/* navigation bar */

.first-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 30px;

  padding: 10px 50px;

  border-bottom: 1px solid #eceae9;

  position: absolute;
  top: 0;
  width: 100%;
}

.first-page nav h1 {
  @font-family: 'Helvetica Neue';
  font-weight: bold;
}

.menu-container a {
  align-items: center;

  margin-left: 30px;
  font-size: 25px;
  color: #9F9F9F;
  text-decoration: none;
  font-weight: 100;

  transition: text-decoration 0.3s ease;
  transition: color 0.3s ease;
}

.menu-container a:first-child {
  color: var(--black);
}

.menu-container a {
  text-decoration: none;
  background-image: linear-gradient(var(--black), var(--black));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, color 0.5s ease;
}

.menu-container a:hover,
.menu-container a:focus,
.menu-container a:active {
  color: black;
  background-size: 100% 0.1em;
}

.icon-container img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 700px;
  width: auto;
}

/*  smartphones, iPhone, portrait 480x320 phones */

@media (max-width:420px)  {

  nav h1 {
    font-size: 28px;
  }

  .first-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;

    padding: 15px 15px;

    border-bottom: 1px solid #eceae9;

    position: absolute;
    top: 0;
    width: 100%;
  }

  .menu-container a {
    font-size: 15px;
    margin-left: 20px;
  }

  .icon-container img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 30%;
    width: auto;

    z-index: -1;
  }

  .description-container {
    display: flex;
    padding-top: 30%;
  }

  .description-container p {
    font-size: 35px;
    font-weight: 400;

    padding-left: 15px;
    padding-right: 40px;
  }


  .description-container p u {
    text-decoration-color: #fcba03;
  }


  .buttons-container {
    display: flex;
    width: 90%;

    padding: 20% 0px 0px 15px;
  }

  .button:first-child{
    margin-right: 20px;
  }

  .button a {
    text-decoration: none;
    color: var(--white);
    background: var(--black);
    border: 1px solid var(--black);

    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 100;

    transition: color 0.3s ease, background 0.3s ease;
  }

  .button a:hover {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--black);
  }

}


@media (max-width: 340px)  {

  .description-container p {
    font-size: 1.8rem;
  }

  .button a {
    font-size: 0.85rem;
  }

}
