:root {
  --black: #3d433c;
  --white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::selection {
  color: white;
  background: #fcba03;
  text-decoration-color: #fcba03;
}

/* first page */

.first-page {
  height: 100vh;
  background: var(--white);
  color: var(--black);
}

/* navigation bar */

.first-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 30px;

  padding: 10px 50px;

  border-bottom: 1px solid #eceae9;

  position: absolute;
  top: 0;
  width: 100%;
}

.first-page nav h1 {
  @font-family: 'Helvetica Neue';
  font-weight: bold;
}

.menu-container a {
  align-items: center;

  margin-left: 30px;
  font-size: 25px;
  color: #9F9F9F;
  text-decoration: none;
  font-weight: 100;

  transition: text-decoration 0.3s ease;
  transition: color 0.3s ease;
}

.menu-container a:first-child {
  color: var(--black);
}

.menu-container a {
  text-decoration: none;
  background-image: linear-gradient(var(--black), var(--black));
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, color 0.5s ease;
}

.menu-container a:hover,
.menu-container a:focus,
.menu-container a:active {
  color: black;
  background-size: 100% 0.1em;
}

.icon-container img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 700px;
  width: auto;
}

/*  smartphones, iPhone, portrait 480x320 phones */

@media (max-width:400px)  {

  nav h1 {
    font-size: 28px;
  }

  .first-page nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;

    padding: 15px 15px;

    border-bottom: 1px solid #eceae9;

    position: absolute;
    top: 0;
    width: 100%;
  }

  .menu-container a {
    font-size: 15px;
    margin-left: 20px;
  }

  .icon-container img {
    position: absolute;
    bottom: 0px;
    right: -15px;
    height: 350px;
    width: auto;
  }

  .description-container {
    display: flex;
    align-items: center;

    padding-top: 120px;
  }

  .description-container p {
    font-weight: 500;
    color: var(--black);
    font-size: 40px;
    text-align: left;
    padding-left: 15px;
    padding-right: 30px;
  }


  .description-container p u {
    text-decoration-color: #fcba03;
  }


  .buttons-container {
    display: flex;
    align-items: center;

    padding: 50px 15px;
  }

  .button {
    display: grid;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    grid-template-columns: 3fr 1fr;

    font-size: 14px;
    font-weight: 100;
    background: #312e2a;
    color: #e6e5e3;

    padding: 5px 10px;
    margin-right: 15px;
  }

  .button a {
    text-decoration: none;
    color: white;
  }

  .button object {
    filter: brightness(0) saturate(100%) invert(85%) sepia(1%) saturate(0%) hue-rotate(230deg) brightness(109%) contrast(92%);
  }

}
